textarea {
  width: 80%;
  resize: none;
}

/* Ставим кнопку по центру */

.content {
  text-align: center;
}

/* Стили для нашей кнопки */

button {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
}

button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

button:focus {
  outline: none !important
}


/* Кнопка */

.blue_btn {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

/* Окно */

.overlay_popup {
  display:none;
  position:fixed;
  z-index: 999;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:#000;
  opacity:0.5;
}

.popup {
  display: none;
  position: relative;
  z-index: 1000;
  margin:0 25% 0 25%;
  width:50%;
}

/* Ещё немного стилей для popup окна */

.object{
  width: 500px;
  height: 500px;
  background-color: #eee;
  padding: 50px 70px;
}
.messagepop{
  margin-top: 20px;
  background-color: white;
}

#error_message{
border: 1px solid green;
  width:40%;
  border-radius: 25px;
}

#form_email{
  border:1px solid green;
  height:40px;
  width:80%;
}
#form_body{
  border:1px solid green;
    height:120px; width:80%;
}

#message_submit{
  width:80%;   height: 40px;
  color: black;
    background-color: #1E6018;
    border-radius: 15px;
}

